@use '/app/styles/mixings' as *;
.button {
  padding: 10px 30px;
  width: 100%;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  white-space: nowrap;
  @include breakpoints(lg) {
    max-width: 50%;
    font-size: 16px;
  }
}
