@use '/app/styles/mixings' as *;
.footer {
  background-color: #808080;
  .footerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
      margin: 0;
      font-size: 10px;
      @include breakpoints(lg) {
        font-size: 14px;
      }
    }
  }
}
